html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

input[type='text'], input[type='email'],input[type='password'],
.txtarea {
	margin-bottom: 10px;
}

.ant-form-item-explain.ant-form-item-explain-error {
    color: #ff4d4f;
}
